<span class="border">
  <div class="intro">
    <h1>Bienvenido a Alaya</h1>
    <p>La empresa Alaya te necesita más que nunca, tus ideas son nuestro progreso. Porque de aquí todos somos parte, no nos podemos quedar sin tu aporte, así que, ¿Qué esperas?. Publica tu idea!.</p>
    <button mat-raised-button [routerLink]="['/idea-add']">Añadir IDEA</button>
  </div>
  <div class="intro">
    <h1>Gestor de Desafios</h1>
    <p>Como administrador, puede agregar desafíos donde pueden participar los distintos integrantes.</p>
    <button mat-raised-button [routerLink]="['/desafio-add']">Añadir Desafio</button>
  </div>
</span>