.navbar-light .navbar-nav .nav-link {
    color: dodgerblue;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: dodgerblue;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    float: right;
    margin-right: 10px;
    border-radius: 50px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    height: 80px;
    padding: 40px;
    padding-bottom: 50px;
    padding-top:50px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-left: 20px;
}
.mat-raised-button.mat-primary {
    background-color: #dc3545;
}
