<div class="contenedor">
  <form #ideaForm="ngForm">

  <h3>{{idea.nombre}}    <h5> Votos {{idea.votos}} </h5>
  </h3>
  <div class="descripcion">{{idea.descripcion}}</div>

    <app-comentario-add></app-comentario-add>
    <br> <br> <br>
    <!-- <app-comentario-list></app-comentario-list>  -->

    <mat-list-item *ngFor="let comentario of idea.comentarios">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div >{{comentario.texto}}</div>

    </mat-list-item>

    <button mat-raised-button color="primary" (click)="addVoto(ideaForm.href)" type="button">Votar</button>
  </form>


  <!--<div class="permalink">
    <a style="color:white;" [routerLink]="['/idea-editreal',idea.id]">Ver idea</a>
  </div> -->

  <div class="permalink">
    <a style="color:white;" routerLink="/idea-list">Volver</a>
  </div>
</div>
