<div class="contenedor">
  <form #ideaForm="ngForm">

  <h3>{{idea.nombre}} 
  </h3>
  <div class="descripcion">{{idea.descripcion}}</div>
    <br> <br> <br>
    <!-- <app-comentario-list></app-comentario-list>  -->


    <button type="button" class="btn btn-danger" (click)="addVoto(ideaForm.href)">Votar</button>
  </form>


  <!--<div class="permalink">
    <a style="color:white;" [routerLink]="['/idea-editreal',idea.id]">Ver idea</a>
  </div> -->

  <div class="permalink">
    <a style="color:white;" routerLink="/idea-list">Volver</a>
  </div>
  <div class="voto">
    Votos: {{idea.votos}}
  </div>
</div>
<app-comentario-add></app-comentario-add>