<div class="permalink">
  <a style="color:white;" routerLink="/idea-list">Volver</a>
</div>



<div class="contenedor">
  <form #ideaForm="ngForm">
    <h3>{{idea.nombre}} 
    </h3>
    <div class="voto">
      Votos: {{idea.votos}}
    </div>
    <div class="descripcion">{{idea.descripcion}}</div>
    <br> <br> <br> 
    <button type="button" class="btn btn-danger" (click)="addVoto(ideaForm.href)">Votar</button>
  </form>
 



</div>
<app-comentario-add></app-comentario-add>

<div class="contenedor">
<h3>Comentarios</h3>
<div class="comentario" *ngFor="let comentario of idea.comentarios">
  <br> <br> <br>

  {{comentario.texto}}
  <br> <br> <br>

</div>
</div>
