<mat-card>
  <form #idea="ngForm" (ngSubmit)="save(idea.value)">
    <mat-card-header>
      <mat-card-title><h2>{{idea.nombre ? 'Agregar' : 'Agregar'}} Idea </h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="idea.href">
      <mat-form-field>
        <input matInput placeholder="Nombre Idea" [(ngModel)]="idea.nombre" required name="nombre" #name>
      </mat-form-field> <br>
      <mat-form-field>
        <input matInput placeholder="Descripción Idea (Máximo 280 caracteres)" [(ngModel)]="idea.descripcion" required name="descripcion" #description maxlength="280">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!idea.form.valid">Guardar</button>
      <button mat-raised-button color="secondary" (click)="remove(idea.href)"
              *ngIf="idea.href" type="button">Borrar</button>
      <a mat-button routerLink="/desafio-list">Cancelar</a>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
  </form>
</mat-card>
